@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');/* CSS Document */

/* Header */
/* Header */

/* Conteúdo */
img.Headline {
  clear: both;
  display: block;
  width: 70%;
  margin: 10px auto 15px auto;
}
section.conteudo h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  margin: 10px auto 0px auto;
}
section.conteudo h4 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin: 50px auto 15px auto;
  font-family: 'Poppins', sans-serif;
}
section.conteudo h4 span {
  color: #0084ff;
  text-align: center;
  font-weight: 800;
}
.video-vsl {
    background: #0084ff;
    clear: both;
    display: block;
    border: solid 2px #0084ff;
    margin: 0 auto;
    margin: 40px auto 0px auto;
    width: 70%;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
}
section.conteudo h1 {
	text-align: center;
    font-size: 17px;
    font-weight: 700;
    margin: 0 0 15px 0;
	padding: 0 500px;
}
a.cta {
  clear: both;
  text-align: center;
  background: #259c25;
  color: #ffffff !important;
  font-size: 25px;
  text-decoration: none;
  font-weight: 700;
  padding: 15px 0;
  width: 35%;
  margin: 35px auto 0 auto;
  border: 1px solid #259c25;
  border-radius: 20px 20px 20px 20px;
  -moz-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 0px 15px 5px #259c25; 
}
.pulsar {
  animation-name: pulse;
  -webkit-animation-name: pulse;
  animation-duration: 1.5s;
  -webkit-animation-duration: 1.5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
@keyframes pulse{
0%,100%{transform:scale(.9);opacity:.9;}
50%{transform:scale(1);opacity:1;}
}
@-webkit-keyframes pulse{
0%,100%{-webkit-transform:scale(.95);opacity:.7}
50%{-webkit-transform:scale(1);opacity:1}
}
.texto-centralizado {
  text-align: center;
  margin: 0 auto 0 auto;
  font-size: 32px;
  font-weight: 400;
  font-family: 'Poppins', sans-serif;
  color: rgb(0, 0, 0);
  margin: 40px auto 15px auto;

}
.destaque {
  color: rgb(255, 0, 0);
  font-size: 1.2em;
  text-align: center;
  margin: 35px auto 0 auto;
  font-size: 32px;
  font-weight: 400;
  background-color: rgb(255, 230, 0);
  font-family: 'Poppins', sans-serif;
}
/* Conteúdo */

/* Comentários FB */
.fb-comments {
  clear: both;
  display: block;
  border-radius: 3px;
  padding: 0 15px;
  padding-bottom: 15px;
  width: 75%;
  margin: 50px auto 0 auto;
  position: relative;
  color: #4267b2;
}
.fb-comments-header {
  padding: 15px 0;
  border-bottom: 1px solid #e9ebee;
}
.fb-comments-header span {
  color: #000;
  font-weight: 700;
  font-size: 0.9em;
}
.fb-comments-comment {
  border: none;
  padding: 0;
  margin: 10px 0;
  width: 100%;
}
.fb-comments-reply-wrapper {
  margin-left: 60px;
  border-left: 1px dotted #e9ebee;
  padding-left: 5px;
}
tr,
td {
  border: none;
  margin: 0;
}
td {
  padding: 2.5px;
}
tr {
  padding: 2.5px 0;
}
.fb-comments-comment-img {
  vertical-align: top;
  width: 48px;
  padding-right: 5px;
}

.fb-comments-comment-img img {
  max-width: 48px;
  border-radius: 25px;
}
.fb-comments-comment-name {
  font-size: 0.85em;
}
.fb-comments-comment-name name {
  color: #365899;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  cursor: hand;
}

.fb-comments-comment-name name:hover {
  text-decoration: underline;
}
.fb-comments-comment-name occupation {
  color: #90949c;
}
.fb-comments-comment-text {
  font-size: 0.9em;
  color: #000;
  border-radius: 21px;
  background-color: #eaebef;
  padding: 10px 20px;
}
.fb-comments-comment-text a {
    text-decoration: none;
}
.fb-comments-comment-actions like,
.fb-comments-comment-actions reply {
  font-size: 0.75em;
  color: #4267b2;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}
.fb-comments-comment-actions like.liked {
  color: #90949c;
}
.fb-comments-comment-actions like:hover,
.fb-comments-comment-actions reply:hover {
  text-decoration: underline;
}
.fb-comments-comment-actions likes {
  font-size: 13px;
  background: url("../img/like.webp");
  background-repeat: no-repeat;
  padding-left: 43px;
  padding-right: 6px;
  padding-top: 3px;
  padding-bottom: 2px;
  margin-top: -10px;
  float: right;
  background-color: #fff;
  border: solid #eaebef;
  border-radius: 19px;
}
.fb-comments-comment-actions date {
  font-size: 0.75em;
  color: #90949c;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}
.fb-comments-comment-actions date:hover {
  text-decoration: underline;
}
/* Comentários FB */


/* Rodapé */
footer.footer {
	background: #808080;
	padding: 35px 0;
	margin: 50px auto 0 auto;
}
footer.footer p {
	text-align: center;
	font-size: 10px;
}
.termos {
  color: #fff;
	clear: both;
	display: block;
	text-align: center;
	font-size: 14px;
	margin: 0 0 20px 0;
}
/* Rodapé */

/* Responsivo */
@media (max-width: 700px) {
  img.Headline {
		width: 100%;
		margin: 5px auto 5px auto;
	}
  .texto-centralizado {
		font-size: 18px;
    margin: 20px auto 15px auto;
	}
  section.conteudo h4 {
    font-size: 18px;
    margin: 45px auto 5px auto;
  }
  section.conteudo h3 {
    font-size: 16px;
    margin: 20px auto 15px auto;
  }
  .destaque {
		font-size: 15px;
    margin: 10px auto 15px auto;
	}
	.video-vsl {
		width: 100%;
		margin: 0 auto;
    margin: 40px auto 0px auto;
	}
	a.cta {
		width: 80%;
		font-size: 20px;
		padding: 16px 0;
	}
	.fb-comments {
		width: 95%;
	}
	
}
/* Responsivo */